.slider {
  width: 100vw !important;
  flex: 1 1 auto !important;
  padding: 30px 0 !important;
}

.spinner {
  width: 100vw !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-container {
  height: 100% !important;
}

.slide {
  width: 30% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}